@import '~antd/es/style/themes/default.less';

.addInpInLine {
  width: 100%;
  margin: 15px 0;

  .addInp {
    width: 48%;
    float: left;
  }

  .addInp2 {
    float: right;
    width: 45%;
  }
}

.addInpAddress {
  margin-top: 15px
}

.addInpAgentBrand {
  margin-top: 15px
}

.addSubBtn {
  margin-top: 15px
}
