@import '~antd/es/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

.inline {
  &::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 1px;
  }

  &>div,
  &>dt,
  &>dd {
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
  }
}

.inline-block {
  display: inline-block !important;
}

.font-red {
  color: #f4222c !important;
}

.font-blue {
  color: #1890ff !important;
}

.font-green {
  color: #05a014 !important;
}

.font-underline {
  text-decoration: underline !important;
}

.w-240 {
  width: 240px !important;
}

.w-320 {
  width: 320px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.btn-green {
  background-color: #52C41A !important;
  border-color: #52C41A !important;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead>tr,
    &-tbody>tr {

      >th,
      >td {
        white-space: pre;

        >span {
          display: block;
        }
      }
    }
  }
}

// 兼容IE11
@media screen and(-ms-high-contrast: active),
(-ms-high-contrast: none) {
  body .ant-design-pro>.ant-layout {
    min-height: 100vh;
  }
}
